WebServicesAndApps/WebProjectNetbeans/WebApplication/web/documentazione/xml-types/requests/setPhrase_request.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="setPhrase" type="setPhraseType"/>
  <xs:complexType name="setPhraseType">
    <xs:sequence>
      <xs:element type="xs:string" name="user"/>
      <xs:element type="xs:string" name="match"/>
      <xs:element type="xs:string" name="phrase"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
