LM_Web/WebProjectNetbeans/WebApplication/web/documentazione/xml-types/requests/selectCard_request.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="selectCard" type="selectCardType"/>
  <xs:complexType name="selectCardType">
    <xs:sequence>
      <xs:element type="xs:string" name="user"/>
      <xs:element type="xs:string" name="match"/>
      <xs:element type="xs:string" name="card"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
