LM_Web/WebProjectNetbeans/WebApplication/web/xml-types/requests/pop_request.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="pop" type="popType"/>
  <xs:complexType name="popType">
    <xs:sequence>
      <xs:element type="xs:string" name="user"/>
      <xs:element type="xs:string" name="match"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
